.cabecalho {
    background-color: rgb(127, 179, 224);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0%;
}